{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="content">
      &nbsp;
      <img src="/images/thacca-committee.png" width="100%">
      &nbsp;

      <h3 class="section-title">คณะกรรมการ</h3>
      <ul>
        <li><a href="/committee/strategic-committee/">คณะกรรมการยุทธศาสตร์ซอฟต์พาวเวอร์แห่งชาติ</a></li>
        <li><a href="/committee/development-committee/">คณะกรรมการพัฒนาซอฟต์พาวเวอร์แห่งชาติ</a></li>
      </ul>

      <h3 class="section-title">คณะอนุกรรมการในแต่ละด้าน</h3>
      <ul>
      {{ range where .Data.Pages "Params.tags" "intersect" (slice "Subcommittee") }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      </ul>

  </div>
</section>

{{ end }}