{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="col-12">
      <img style="width: 100%;object-fit: cover;" src="/images/committee/committees.jpg" alt="{{ .Title }}" class="img-fluid w-100 pb-4">
    </div>
    <div class="content">
      <h2 class="section-title">คณะกรรมการ และคณะอนุกรรมการที่เกี่ยวข้อง</h2>
    </div>

    <!-- committee -->
    {{ range .Data.Pages }}
      - <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </div>
</section>

{{ end }}