// Color Variables
$primary-color: rgb(237,237,237);
$secondary-color: rgb(237,237,237); // #1a1a37;
$text-color: rgb(74,74,74);
$text-color-light: rgb(74,74,74);
$text-color-dark: rgb(74,74,74);
$btn-is-danger: #ff2828;
$body-color: #fff;
$border-color: rgb(219,219,219);
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Noto Sans Thai';
$secondary-font: 'Anuphan';
$icon-font: 'themify';