<article class="card rounded-0
  h-100 border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  <div class="embed-responsive embed-responsive-21by9">
    <img class="card-img-top rounded-0 embed-responsive-item" 
      src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  </div>
  <div class="card-body border-bottom-0">
    <!-- post meta -->
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p class="card-text">{{ .Summary | truncate 100 }}</p>
      <ul class="list-inline mb-3">
        <!-- post date -->
        <li class="list-inline-item mr-3 ml-0">
          <i class="ti-calendar"></i>
          {{ .PublishDate | time.Format ":date_medium" }}
        </li>
        <!-- author
        <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i> <a
          href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></li>
        -->
      </ul>
  </div>
  <div class="card-footer border-top-0 text-center">
    <a href="{{ .Permalink }}" class="btn is-danger is-rounded btn-sm">
      {{ i18n "read_more" }}
    </a>
  </div>
</article>