{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <br /><br /><br />
  <div class="container">
    <div class="row">
    </div>
    <div class="row col-12">
      <div class="col-12 content">
        <h3 class="section-title">ติดต่อเรา (Contact Us)</h3>
        <p>หากมีข้อสงสัยหรือต้องการสอบถามข้อมูลเพิ่มเติม กรุณากรอกแบบฟอร์มด้านล่าง หรือส่งอีเมล์มาที่ <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></p>

        {{ .Content }}

        <form id="contactForm" class="col-12">
          <label for="fullName">ชื่อ นามสกุล (Names):</label>
          <input type="text" id="fullName" name="fullName" required>
  
          <label for="email">อีเมล (Email):</label>
          <input type="email" id="email" name="email" required>
  
          <label for="topic">ประเด็นที่ต้องการติดต่อ (Topic):</label>
          <select id="topic" name="topic" required>
              <option value="">Select a topic</option>
              <option value="Partnership">พันธมิตร (Partnership)</option>
              <option value="Funding">ทุนและการสนับสนุน (Funding & Grants)</option>
              <option value="Project">กิจกรรม (Project)</option>
              <option value="Recommendation">ข้อเสนอแนะ (Recommendation)</option>
              <option value="Others">อื่นๆ (Others)</option>
          </select>
  
          <label for="subject">หัวข้อ (Subject):</label>
          <input type="text" id="subject" name="subject" required>
  
          <label for="details">รายละเอียด (Details):</label>
          <textarea id="details" name="details" rows="4" required></textarea>
  
          <button type="button" class="btn-primary" onclick="submitForm()">Submit</button>
          <div id="message" class="alert bold" role="alert" style="visibility: hidden; color: black;"></div>
          </form>
      </div>
    </div>
  </div>
</section>
<script>
  function submitForm() {
    const form = document.getElementById('contactForm');
    const fullName = form.fullName.value;
    const email = form.email.value;
    const topic = form.topic.value;
    const subject = form.subject.value;
    const details = form.details.value;
    const messageDiv = document.getElementById('message');
  
    // Basic validation (you can add more robust validation)
    if (!fullName || !email || !topic || !subject || !details) {
      messageDiv.textContent = "Please fill in all fields.";
      messageDiv.style.color = "red";
      return;
    }
    
    const api_url = "https://vpelomtmamvjoianxzma.supabase.co/rest/v1/Contact";
    const public_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwZWxvbXRtYW12am9pYW54em1hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA3OTc3NDIsImV4cCI6MjA1NjM3Mzc0Mn0.9CFYgC1VelRmvTfmzAT2oWxRnYXOmTQqkM1lPTXtIlQ";

    submissionTime = new Date().toISOString();
    sData = {
      fullname: fullName,	
      email: email,
      topic: topic,
      subject: subject,
      details: details
}

    fetch(api_url, {
      method: 'POST',
      headers: {
        'apikey': public_key,
        'Authorization': 'Bearer '+public_key,
        'Content-Type': 'application/json',
        'prefer': 'return=minimum'
      },
      body: JSON.stringify(sData),
    })
    
    .then(response => {
      if (response.ok) {
        form.reset();
        messageDiv.textContent = "Thank you for submitting the form. We will get back to you shortly.";
        messageDiv.classList.add("alert-success");
        messageDiv.style.visibility = "visible";
      } else {
        messageDiv.textContent = "Error submitting form.";
        messageDiv.classList.add("alert-danger");
        messageDiv.style.visibility = "visible";
      }
    })
    .catch(error => {
      console.error('Error:', error);
      messageDiv.textContent = "An error occurred."+error;
      messageDiv.classList.add("alert-danger");
      messageDiv.style.visibility = "visible";
    });
  }
</script>
<!-- /contact -->

<!-- gmap -- >
<section class="section pt-0">
  <!-- Google Map -- >
  <div id="map_canvas" 
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}" 
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section>
<!-- /gmap -->

{{ end }}