{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      </div>
      <div class="col-12 content">
        {{ .Content }}
        <p>{{ site.Params.address | markdownify }}</p>
      </div-->
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -- >
<section class="section pt-0">
  <!-- Google Map -- >
  <div id="map_canvas" 
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}" 
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section>
<!-- /gmap -->

{{ end }}